*{
    color:#27272799
    margin:0px;
}
/* header */
.header{
    padding-left: 120px;
    background-color: #E554731A;
    border:0px;
    margin-bottom: 5px;
    display:flex;
    justify-content: space-between;
    padding-right: 120px;
    padding-top: 20px;
    
}
.first-heading{
    width: 708px;
    color: #272727;
    font-family: Lato;
    font-size: 67px;
    font-style: normal;
    font-weight: 750px;
    margin-bottom: 10px;

}
.first-description{
    width:550px;
    margin-top: 0px;
    padding-top: 0%;
    font-size:17px;
}
.first-image{
    width: 450px;
    height: 600px;
}
.button{
    border:0px;
    border-radius: 5px;
    background-color: #E55473;
    color: #FFF;
    font-size: 10px;
    font-weight: 700;
    margin-top: 10PX;
    height: 30px;
    width: 80px;
}
/* main part */
.bonus{
   text-align: center;
   margin:200px;
}
.heading{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.two-description{
    width: 580px;
    display: inline-flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;
}
.extra{
    display:flex;
    margin:0px 100px 10px 100px;
    justify-content: space-evenly; 
    text-align: center;
    justify-items: center;
    margin-top: 0px;
}
.extra-one, .extra-two, .extra-three{
    width: 420px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 10px;
    text-decoration: underline;
    font-size: 20px;

}
.one,.two,.three{
    width: 420px;
    height: 450px;
    margin-top: 50px;
    margin-right: 100px;
    padding-right: 100px;
}
/* Hot deal offer */
.deal{
    display:flex;
    justify-content: center;
    height: 580px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 150px;
    margin-bottom:50px;
    text-align: center;
}
.heading-two{
    font-size: 40px;
    font-weight: 800;
    margin-top: 35%;
    margin-right:80x;
}
.description-three{
    width: 594px;
    font-size: 18px;
    font-weight: 400;
}
.button-two{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin-bottom: 35px;
}
.photo-one{
    margin-top:100px;
    margin-left:100px;
}
#red{
    color:red;
}
/* instragram related box */
.instragram{
    text-align: center;
}
.heading-three{
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom:0px;
}
.description-four{
        width: 594px;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        margin-left: 30%;
        margin-bottom:40px;
    }
 .all-photo{
        display: flex;
        justify-content: space-evenly;

    }
    .photo-two{
        width: 250px;
        height: 396px;
        margin-right: 10px;
    }
    .photo-three{
        width: 250px;
        height: 396px;
        margin-right: 10px;
    }
    .photo-four{
        width: 250px;
        height: 396px;
        margin-right: 10px;
    }
    .photo-five{
        width: 250x;
        height: 396px;

    }